# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.ipynb_checkpoints

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual environments
env/
venv/
ENV/
.VENV/
.venv/

# Data files
*.csv
*.tsv
*.xls
*.xlsx
*.h5
*.db
*.sqlite
*.parquet

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Mac
*.DS_Store

# Windows
*.exe
*.dll

# Others
*.bak
*.tmp
*.history
*.swp
*.swo
*.out
*.txt
*.pdf
*.docx